<h1>Labour cost report</h1>

<table class="view-data-table">
  <thead class="view-data-table-head">
    <tr>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="name">
        PAYROLL PROVIDER
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="workerCount">
        WORKER
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="grossPayTotal">
        COMPLIANCE SCORE
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="grossPayTotal">
        GROSS PAY
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="payrollAdminTotal">
        PAYROLL ADMIN (&pound;)
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="labourCostTotal">
        LABOUR COST (&pound;)
      </th>
      <th
        class="view-data-table-head-col"
        scope="col"
        [appSort]="providers"
        data-order="desc"
        data-name="grossPayTotal">
        WORK FORCE
      </th>
    </tr>
  </thead>
  <tbody class="view-data-table-body">
    <ng-container *ngFor="let directContract of directContractors">
      <ng-container *ngFor="let fields of total">
        <tr>
          <td class="view-data-table-body-name">
            {{ directContract?.name }}
          </td>
          <td class="view-data-table-body-worker">
            {{ directContract?.workerCount }}
          </td>
          <td class="view-data-table-body-border">
            {{
              (
                (directContract?.grossPayTotal! / fields?.grossPayTotal!) *
                100
              ).toFixed(2)
            }}%
          </td>
          <td class="view-data-table-body-gross">
            {{ directContract?.grossPayTotal | number }}
          </td>
          <td>
            <span *ngIf="directContract?.payrollAdminTotal !== 0">{{
              directContract?.payrollAdminTotal
            }}</span>
            <span *ngIf="directContract?.payrollAdminTotal == 0">-</span>
          </td>
          <td class="view-data-table-body-worker-labour">
            {{ directContract?.labourCostTotal | number }}
          </td>
          <td>
            {{
              (
                (directContract?.labourCostTotal! / fields?.labourCostTotal!) *
                100
              ).toFixed(2)
            }}%
          </td>
        </tr>
        <br />
        <ng-container *ngFor="let provider of providers">
          <tr>
            <td class="view-data-table-body-name">{{ provider?.name }}</td>
            <td class="view-data-table-body-worker">
              {{ provider?.workerCount }}
            </td>
            <td class="view-data-table-body-border">
              {{
                (
                  (provider?.grossPayTotal! / fields?.grossPayTotal!) *
                  100
                ).toFixed(2)
              }}%
            </td>
            <td class="view-data-table-body-gross">
              {{ provider?.grossPayTotal | number }}
            </td>
            <td>
              <span *ngIf="provider?.payrollAdminTotal !== 0">{{
                provider?.payrollAdminTotal
              }}</span>
              <span *ngIf="provider?.payrollAdminTotal == 0">-</span>
            </td>
            <td class="view-data-table-body-worker-labour">
              {{ provider?.labourCostTotal | number }}
            </td>
            <td>
              {{
                (
                  (provider?.labourCostTotal! / fields?.labourCostTotal!) *
                  100
                ).toFixed(2)
              }}%
            </td>
          </tr>
        </ng-container>
        <br />
        <tr class="view-data-table-body-total">
          <td class="view-data-table-body-total-name">{{ fields?.name }}</td>
          <td class="view-data-table-body-worker">
            {{ fields?.workerCount }}
          </td>
          <td>
            {{
              ((fields?.grossPayTotal! / fields?.grossPayTotal!) * 100).toFixed(
                2
              )
            }}%
          </td>
          <td class="view-data-table-body-gross">
            {{ fields?.grossPayTotal | number }}
          </td>
          <td>
            <span *ngIf="fields?.payrollAdminTotal !== 0">{{
              fields?.payrollAdminTotal
            }}</span>
            <span *ngIf="fields?.payrollAdminTotal == 0">-</span>
          </td>
          <td class="view-data-table-body-worker-labour">
            {{ fields?.labourCostTotal | number }}
          </td>
          <td>
            {{
              (
                (fields?.labourCostTotal! / fields?.labourCostTotal!) *
                100
              ).toFixed(2)
            }}%
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
